# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file.

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [2]:
# Import the file and print the first 5 rows

df = pd.read_csv('Data/Zipcode_Demos.csv')

print(df.head())

   0  Average Statistics Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0  1                 NaN          0        NaN        NaN        NaN
1  2   JURISDICTION NAME    10005.8        NaN        NaN        NaN
2  3  COUNT PARTICIPANTS        9.4        NaN        NaN        NaN
3  4        COUNT FEMALE        4.8        NaN        NaN        NaN
4  5      PERCENT FEMALE      0.404        NaN        NaN        NaN

  Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 37 Unnamed: 38  \
0        NaN        NaN        NaN        NaN  ...         NaN         NaN
1        NaN        NaN        NaN        NaN  ...         NaN         NaN
2        NaN        NaN        NaN        NaN  ...         NaN         NaN
3        NaN        NaN        NaN        NaN  ...         NaN         NaN
4        NaN        NaN        NaN        NaN  ...         NaN         NaN

  Unnamed: 39 Unnamed: 40 Unnamed: 41 Unnamed: 42 Unnamed: 43 Unnamed: 44  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 45 Unnamed: 46
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

[5 rows x 47 columns]

In [3]:
# Print the last 5 rows of df

print(df.tail())

     0 Average Statistics Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
52  53              10006          6          2       0.33          4
53  54              10007          1          0          0          1
54  55              10009          2          0          0          2
55  56              10010          0          0          0          0
56  57              10011          3          2       0.67          1

   Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 37 Unnamed: 38  \
52       0.67          0          0          6  ...           6         100
53          1          0          0          1  ...           1         100
54          1          0          0          2  ...           2         100
55          0          0          0          0  ...           0           0
56       0.33          0          0          3  ...           3         100

   Unnamed: 39 Unnamed: 40 Unnamed: 41 Unnamed: 42 Unnamed: 43 Unnamed: 44  \
52           0           0           6           1           0           0
53           1           1           0           0           0           0
54           0           0           2           1           0           0
55           0           0           0           0           0           0
56           0           0           3           1           0           0

   Unnamed: 45 Unnamed: 46
52           6         100
53           1         100
54           2         100
55           0           0
56           3         100

[5 rows x 47 columns]

In [4]:
# What is going on with this data set? Anything unusual?

# Check the shape and data types
print(df.info())

# Check for missing values
print(df.isnull().sum())

# Get a statistical summary
print(df.describe())

# Check for duplicate rows
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

# List unique values in key categorical columns
for col in df.select_dtypes(include=['object']).columns:
    print(f"Unique values in {col}: {df[col].unique()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 47 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   0                   57 non-null     int64
 1   Average Statistics  56 non-null     object
 2   Unnamed: 2          57 non-null     object
 3   Unnamed: 3          11 non-null     object
 4   Unnamed: 4          11 non-null     object
 5   Unnamed: 5          11 non-null     object
 6   Unnamed: 6          11 non-null     object
 7   Unnamed: 7          11 non-null     object
 8   Unnamed: 8          11 non-null     object
 9   Unnamed: 9          11 non-null     object
 10  Unnamed: 10         11 non-null     object
 11  Unnamed: 11         11 non-null     object
 12  Unnamed: 12         11 non-null     object
 13  Unnamed: 13         11 non-null     object
 14  Unnamed: 14         11 non-null     object
 15  Unnamed: 15         11 non-null     object
 16  Unnamed: 16         11 non-null     object
 17  Unnamed: 17         11 non-null     object
 18  Unnamed: 18         11 non-null     object
 19  Unnamed: 19         11 non-null     object
 20  Unnamed: 20         11 non-null     object
 21  Unnamed: 21         11 non-null     object
 22  Unnamed: 22         11 non-null     object
 23  Unnamed: 23         11 non-null     object
 24  Unnamed: 24         11 non-null     object
 25  Unnamed: 25         11 non-null     object
 26  Unnamed: 26         11 non-null     object
 27  Unnamed: 27         11 non-null     object
 28  Unnamed: 28         11 non-null     object
 29  Unnamed: 29         11 non-null     object
 30  Unnamed: 30         11 non-null     object
 31  Unnamed: 31         11 non-null     object
 32  Unnamed: 32         11 non-null     object
 33  Unnamed: 33         11 non-null     object
 34  Unnamed: 34         11 non-null     object
 35  Unnamed: 35         11 non-null     object
 36  Unnamed: 36         11 non-null     object
 37  Unnamed: 37         11 non-null     object
 38  Unnamed: 38         11 non-null     object
 39  Unnamed: 39         11 non-null     object
 40  Unnamed: 40         11 non-null     object
 41  Unnamed: 41         11 non-null     object
 42  Unnamed: 42         11 non-null     object
 43  Unnamed: 43         11 non-null     object
 44  Unnamed: 44         11 non-null     object
 45  Unnamed: 45         11 non-null     object
 46  Unnamed: 46         11 non-null     object
dtypes: int64(1), object(46)
memory usage: 21.1+ KB
None
0                      0
Average Statistics     1
Unnamed: 2             0
Unnamed: 3            46
Unnamed: 4            46
Unnamed: 5            46
Unnamed: 6            46
Unnamed: 7            46
Unnamed: 8            46
Unnamed: 9            46
Unnamed: 10           46
Unnamed: 11           46
Unnamed: 12           46
Unnamed: 13           46
Unnamed: 14           46
Unnamed: 15           46
Unnamed: 16           46
Unnamed: 17           46
Unnamed: 18           46
Unnamed: 19           46
Unnamed: 20           46
Unnamed: 21           46
Unnamed: 22           46
Unnamed: 23           46
Unnamed: 24           46
Unnamed: 25           46
Unnamed: 26           46
Unnamed: 27           46
Unnamed: 28           46
Unnamed: 29           46
Unnamed: 30           46
Unnamed: 31           46
Unnamed: 32           46
Unnamed: 33           46
Unnamed: 34           46
Unnamed: 35           46
Unnamed: 36           46
Unnamed: 37           46
Unnamed: 38           46
Unnamed: 39           46
Unnamed: 40           46
Unnamed: 41           46
Unnamed: 42           46
Unnamed: 43           46
Unnamed: 44           46
Unnamed: 45           46
Unnamed: 46           46
dtype: int64
               0
count  57.000000
mean   29.000000
std    16.598193
min     1.000000
25%    15.000000
50%    29.000000
75%    43.000000
max    57.000000
Number of duplicate rows: 0
Unique values in Average Statistics: [nan 'JURISDICTION NAME' 'COUNT PARTICIPANTS' 'COUNT FEMALE'
 'PERCENT FEMALE' 'COUNT MALE' 'PERCENT MALE' 'COUNT GENDER UNKNOWN'
 'PERCENT GENDER UNKNOWN' 'COUNT GENDER TOTAL' 'PERCENT GENDER TOTAL'
 'COUNT PACIFIC ISLANDER' 'PERCENT PACIFIC ISLANDER'
 'COUNT HISPANIC LATINO' 'PERCENT HISPANIC LATINO' 'COUNT AMERICAN INDIAN'
 'PERCENT AMERICAN INDIAN' 'COUNT ASIAN NON HISPANIC'
 'PERCENT ASIAN NON HISPANIC' 'COUNT WHITE NON HISPANIC'
 'PERCENT WHITE NON HISPANIC' 'COUNT BLACK NON HISPANIC'
 'PERCENT BLACK NON HISPANIC' 'COUNT OTHER ETHNICITY'
 'PERCENT OTHER ETHNICITY' 'COUNT ETHNICITY UNKNOWN'
 'PERCENT ETHNICITY UNKNOWN' 'COUNT ETHNICITY TOTAL'
 'PERCENT ETHNICITY TOTAL' 'COUNT PERMANENT RESIDENT ALIEN'
 'PERCENT PERMANENT RESIDENT ALIEN' 'COUNT US CITIZEN'
 'PERCENT US CITIZEN' 'COUNT OTHER CITIZEN STATUS'
 'PERCENT OTHER CITIZEN STATUS' 'COUNT CITIZEN STATUS UNKNOWN'
 'PERCENT CITIZEN STATUS UNKNOWN' 'COUNT CITIZEN STATUS TOTAL'
 'PERCENT CITIZEN STATUS TOTAL' 'COUNT RECEIVES PUBLIC ASSISTANCE'
 'PERCENT RECEIVES PUBLIC ASSISTANCE' 'COUNT NRECEIVES PUBLIC ASSISTANCE'
 'PERCENT NRECEIVES PUBLIC ASSISTANCE' 'COUNT PUBLIC ASSISTANCE UNKNOWN'
 'PERCENT PUBLIC ASSISTANCE UNKNOWN' 'COUNT PUBLIC ASSISTANCE TOTAL'
 '10001' '10002' '10003' '10004' '10005' '10006' '10007' '10009' '10010'
 '10011']
Unique values in Unnamed: 2: ['0' '10005.8' '9.4' '4.8' '0.404' '4.6' '0.396' '80' '2' '0.105' '3.6'
 '0.437' '0.8' '0.036' '2.6' '0.181' '0.4' '0.04' '79.9' '0.5' '0.061'
 '8.9' '0.739' '2.3' '0.151' '7.1' '0.649' 'COUNT PARTICIPANTS' '44' '35'
 '1' '6' '3']
Unique values in Unnamed: 3: [nan 'COUNT FEMALE' '22' '19' '1' '0' '2']
Unique values in Unnamed: 4: [nan 'PERCENT FEMALE' '0.5' '0.54' '1' '0' '0.33' '0.67']
Unique values in Unnamed: 5: [nan 'COUNT MALE' '22' '16' '0' '4' '1' '2']
Unique values in Unnamed: 6: [nan 'PERCENT MALE' '0.5' '0.46' '0' '0.67' '1' '0.33']
Unique values in Unnamed: 7: [nan 'COUNT GENDER UNKNOWN' '0']
Unique values in Unnamed: 8: [nan 'PERCENT GENDER UNKNOWN' '0']
Unique values in Unnamed: 9: [nan 'COUNT GENDER TOTAL' '44' '35' '1' '0' '2' '6' '3']
Unique values in Unnamed: 10: [nan 'PERCENT GENDER TOTAL' '100' '0']
Unique values in Unnamed: 11: [nan 'COUNT PACIFIC ISLANDER' '0']
Unique values in Unnamed: 12: [nan 'PERCENT PACIFIC ISLANDER' '0']
Unique values in Unnamed: 13: [nan 'COUNT HISPANIC LATINO' '16' '1' '0' '2']
Unique values in Unnamed: 14: [nan 'PERCENT HISPANIC LATINO' '0.36' '0.03' '0' '0.33']
Unique values in Unnamed: 15: [nan 'COUNT AMERICAN INDIAN' '0']
Unique values in Unnamed: 16: [nan 'PERCENT AMERICAN INDIAN' '0']
Unique values in Unnamed: 17: [nan 'COUNT ASIAN NON HISPANIC' '3' '28' '1' '0' '2']
Unique values in Unnamed: 18: [nan 'PERCENT ASIAN NON HISPANIC' '0.07' '0.8' '1' '0' '0.5']
Unique values in Unnamed: 19: [nan 'COUNT WHITE NON HISPANIC' '1' '6' '0']
Unique values in Unnamed: 20: [nan 'PERCENT WHITE NON HISPANIC' '0.02' '0.17' '0']
Unique values in Unnamed: 21: [nan 'COUNT BLACK NON HISPANIC' '21' '0' '1' '3']
Unique values in Unnamed: 22: [nan 'PERCENT BLACK NON HISPANIC' '0.48' '0' '0.5' '0.33']
Unique values in Unnamed: 23: [nan 'COUNT OTHER ETHNICITY' '3' '0' '1']
Unique values in Unnamed: 24: [nan 'PERCENT OTHER ETHNICITY' '0.07' '0' '0.33']
Unique values in Unnamed: 25: [nan 'COUNT ETHNICITY UNKNOWN' '0']
Unique values in Unnamed: 26: [nan 'PERCENT ETHNICITY UNKNOWN' '0']
Unique values in Unnamed: 27: [nan 'COUNT ETHNICITY TOTAL' '44' '35' '1' '0' '2' '6' '3']
Unique values in Unnamed: 28: [nan 'PERCENT ETHNICITY TOTAL' '100' '0' '99']
Unique values in Unnamed: 29: [nan 'COUNT PERMANENT RESIDENT ALIEN' '2' '0' '1']
Unique values in Unnamed: 30: [nan 'PERCENT PERMANENT RESIDENT ALIEN' '0.05' '0.06' '0' '0.5']
Unique values in Unnamed: 31: [nan 'COUNT US CITIZEN' '42' '33' '1' '0' '6' '2' '3']
Unique values in Unnamed: 32: [nan 'PERCENT US CITIZEN' '0.95' '0.94' '1' '0' '0.5']
Unique values in Unnamed: 33: [nan 'COUNT OTHER CITIZEN STATUS' '0']
Unique values in Unnamed: 34: [nan 'PERCENT OTHER CITIZEN STATUS' '0']
Unique values in Unnamed: 35: [nan 'COUNT CITIZEN STATUS UNKNOWN' '0']
Unique values in Unnamed: 36: [nan 'PERCENT CITIZEN STATUS UNKNOWN' '0']
Unique values in Unnamed: 37: [nan 'COUNT CITIZEN STATUS TOTAL' '44' '35' '1' '0' '2' '6' '3']
Unique values in Unnamed: 38: [nan 'PERCENT CITIZEN STATUS TOTAL' '100' '0']
Unique values in Unnamed: 39: [nan 'COUNT RECEIVES PUBLIC ASSISTANCE' '20' '2' '0' '1']
Unique values in Unnamed: 40: [nan 'PERCENT RECEIVES PUBLIC ASSISTANCE' '0.45' '0.06' '0' '1']
Unique values in Unnamed: 41: [nan 'COUNT NRECEIVES PUBLIC ASSISTANCE' '24' '33' '1' '0' '2' '6' '3']
Unique values in Unnamed: 42: [nan 'PERCENT NRECEIVES PUBLIC ASSISTANCE' '0.55' '0.94' '1' '0']
Unique values in Unnamed: 43: [nan 'COUNT PUBLIC ASSISTANCE UNKNOWN' '0']
Unique values in Unnamed: 44: [nan 'PERCENT PUBLIC ASSISTANCE UNKNOWN' '0']
Unique values in Unnamed: 45: [nan 'COUNT PUBLIC ASSISTANCE TOTAL' '44' '35' '1' '0' '2' '6' '3']
Unique values in Unnamed: 46: [nan 'PERCENT PUBLIC ASSISTANCE TOTAL' '100' '0']

In [5]:
# Clean up the dataset

missing_values = df.isnull().sum()
print("\nMissing Values in Each Column:")
print(missing_values)

Missing Values in Each Column:
0                      0
Average Statistics     1
Unnamed: 2             0
Unnamed: 3            46
Unnamed: 4            46
Unnamed: 5            46
Unnamed: 6            46
Unnamed: 7            46
Unnamed: 8            46
Unnamed: 9            46
Unnamed: 10           46
Unnamed: 11           46
Unnamed: 12           46
Unnamed: 13           46
Unnamed: 14           46
Unnamed: 15           46
Unnamed: 16           46
Unnamed: 17           46
Unnamed: 18           46
Unnamed: 19           46
Unnamed: 20           46
Unnamed: 21           46
Unnamed: 22           46
Unnamed: 23           46
Unnamed: 24           46
Unnamed: 25           46
Unnamed: 26           46
Unnamed: 27           46
Unnamed: 28           46
Unnamed: 29           46
Unnamed: 30           46
Unnamed: 31           46
Unnamed: 32           46
Unnamed: 33           46
Unnamed: 34           46
Unnamed: 35           46
Unnamed: 36           46
Unnamed: 37           46
Unnamed: 38           46
Unnamed: 39           46
Unnamed: 40           46
Unnamed: 41           46
Unnamed: 42           46
Unnamed: 43           46
Unnamed: 44           46
Unnamed: 45           46
Unnamed: 46           46
dtype: int64

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_Corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [14]:
# Hint: Here's a useful programming pattern to use
try:
    # Do something
    df = pd.read_csv('Yelp_Reviews_Corrupt.csv', on_bad_lines='skip', quoting=1)  # quoting=1 corresponds to QUOTE_NONNUMERIC
    print(df.head())
except Exception as e:
    # Handle your exception e
    print("An error occurred while reading the CSV file:", e)

An error occurred while reading the CSV file: read_csv() got an unexpected keyword argument 'on_bad_lines'

## Summary

Congratulations, you now practiced your Pandas-importing skills.